header.header
    .header__wrapper

        a.header__logo(href="/")
            img.header__logo-img(src=require('../../images/logo.png'), alt="Logo")

        h1.header__title 
            a.header__title-link(href="/") КАНДАЛАКШСКИЙ государственный заповедник
            
        a.header__ministery(href="#")
            img.header__header__ministery-img(src=require("../../images/footer-logo.svg"), alt="Министерство природных ресурсов и экологии Российской Федерации")

        //- .header__search
            button.header__search-btn.icon-btn(aria-label="Search")
                svg.icon
                    use(href="/icons/icons.svg#search")
        .header__eye
            button.header__eye-link.accessibility(href="#" aria-label="Версия для слабовидящих", title="Версия для слабовидящих")
                svg.icon
                    use(href="/icons/icons.svg#eye")
        .header__lang
            .lang-switcher
                button.lang-switcher__btn.lang-switcher__item#ru(
                    onclick='doGTranslate("ru|ru"); return false;'
                ) RU
                span &nbsp;/&nbsp;
                button.lang-switcher__btn.lang-switcher__item#en(
                    onclick='doGTranslate("ru|en"); return false;'
                    ) EN

        .header__nav
            include ./nav.pug


                .lang-switcher
                    button.lang-switcher__btn.lang-switcher__item#ru(
                        type='button', 
                        onclick='doGTranslate("ru|ru"); return false;'
                    ) RU
                    span.lang-switcher__separator /
                    button.lang-switcher__btn.lang-switcher__item#en(
                        type='button', 
                        onclick='doGTranslate("ru|en"); return false;'
                        ) EN
