extends ../layout/layout.pug

block content
    main.museum
        .bg
        .museum__header
            h2.museum__title МУЗЕЙ
        .museum__content
            .museum__wrapper
                .museum__column
                    .museum__text.custom-text
                        p Музей природы был открыт в 1957 г.С 1982 г. он располагается на первом этаже нового современного здания Управления заповедника в г. Кандалакше по адресу: ул. Линейная, д. 35.
                        p Сотрудниками научной части были разработаны план музея и тексты стендов. Для посетителей новая экспозиция была открыта в мае 1988 г.
                        p В выставочном зале размещены стенды с информацией о расположении особо охраняемых природных территорий Мурманской области, о территории заповедника; об основных ландшафтах, рельефе и типах растительности, о редких видах, внесенных в Красную книгу области и др.
                        p В художественно оформленных биогруппах представлены панорамы островов Белого и Баренцева моря с птичьим базаром, морского дна, лесных и хищных птиц, лося, волка, медведя, лисицы и куницы и других животных.
                        p При музее создан визит-центр, где можно посмотреть видеофильмы о природе и обитателях заповедника.
                
                    h3.museum__title РЕЖИМ РАБОТЫ МУЗЕЯ
                    .museum__regime
                        .museum__regime-row 
                            .museum__regime-day Понедельник &mdash; Четверг
                            .museum__regime-time 10:00 &mdash; 17:00
                        .museum__regime-row
                            .museum__regime-day Пятница
                            .museum__regime-time 10:00 &mdash; 12:00
                        .museum__regime-row
                            .museum__regime-day Суббота и воскресенье
                            .museum__regime-time Выходной
                        .museum__regime-row-centered Вход в музей бесплатный

                    .museum__photos
                        .museum__photos-item(style=`background-image: url(${require('../../images/museum-image-1.jpg')})`)
                        .museum__photos-item(style=`background-image: url(${require('../../images/museum-image-2.jpg')})`)
                        .museum__photos-item(style=`background-image: url(${require('../../images/museum-image-3.jpg')})`)

                .museum__column
                    .museum__image(style=`background-image: url(${require("../../images/map-museum.jpg")})`)
                    //- img.museum__image(src=require("../../images/map-museum.jpg") alt="Местоположение музея")

        include ../components/main-contacts.pug





        
